# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
ios/build/XCBuildData/8e34844a1e078714d3b57e230bd71404-desc.xcbuild
ios/build/XCBuildData/8e34844a1e078714d3b57e230bd71404-manifest.xcbuild
ios/build/XCBuildData/491f25d6fbdc597b5b9922d5ed5ba713-desc.xcbuild
ios/build/XCBuildData/491f25d6fbdc597b5b9922d5ed5ba713-manifest.xcbuild
ios/build/XCBuildData/0792acc84701469da27f843ef03490f2-desc.xcbuild
ios/build/XCBuildData/0792acc84701469da27f843ef03490f2-manifest.xcbuild
ios/build/XCBuildData/9173b5836427b17d75c6904493fef7d0-desc.xcbuild
ios/build/XCBuildData/9173b5836427b17d75c6904493fef7d0-manifest.xcbuild
ios/build/XCBuildData/build.db
ios/build/XCBuildData/BuildDescriptionCacheIndex-91252e1459e102eb93c332df51d72740
.firebase/
