<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732045653207-3gvsaa1u6j7nt7iulirl8qiou0ekc8r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732045653207-3gvsaa1u6j7nt7iulirl8qiou0ekc8r4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732045653207-fbu6k0vj1uvec8akgkg0bjvj1s9efqs3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3E6q1zBrLOEHM2H5tMF0msyDjvvIBN_U</string>
	<key>GCM_SENDER_ID</key>
	<string>732045653207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.theRookieCoder.bpLogger</string>
	<key>PROJECT_ID</key>
	<string>bp-logger-rookie-coder</string>
	<key>STORAGE_BUCKET</key>
	<string>bp-logger-rookie-coder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732045653207:ios:0c7aa116af56e3af0b2c92</string>
</dict>
</plist>